header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
h1,
h2 {
  font-family: var(--headline);
}
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
nav > ul {
  list-style-type: none;
  padding: 0;
}
nav > ul > li {
  display: inline;
  margin-right: 10px;
}
nav > ul > li > a {
  color: white;
  text-decoration: none;
  font-family: var(--menutext);
}
nav > ul > li > a:hover {
  text-decoration: underline;
}
footer {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  min-height: 200px;
}
p {
  font-family: var(--bodytext);
}
